*.bkp
creds.data
emulated_hue_ids.json
gactions
home-assistant.log
home-assistant_v2.db
known_devices.yaml
project.json
secrets.yaml
home-assistant_v2.db-shm
home-assistant_v2.db-wal
entity_registry.yaml
.gitignore
